<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="outer-container">
        <div class="inner-box">
            <h2>Welcome to</h2>
            <h1>Bank Management System</h1>
            <div class="home-buttons">
                <a href="/register" class="btn">Register</a>
                <a href="/login" class="btn">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
